.venv
venv/
ENV/
myenv/
env.bak/
venv.bak/

.env

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

__pycache__/
*.py[cod]
*$py.class

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.log
logs/

/BTL*/initial/src/test/solutions/
/BTL*/initial/src/test/testcases/

/BTL*/initial/target/

/BTL4/initial/src/*.class
